app = "wormhole-relay"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8787
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[env]
  PORT = "8787"

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
